<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">

      量化之星
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">欢迎</a></li>
      <li class=""><a href="#">关于</a></li>
      <li class=""><a href="#">原油</a></li>
      <li class=""><a href="#">搜索</a></li>


    </ul>
    <!--
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="#">登录</a></li>
      <li ><a href="${tg.url('/logout_handler')}">登出</a></li>
      <li ><a href="${tg.url('/admin')}">管理</a></li>
    </ul>
    -->
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron">
        <h1>量化之星</h1>
        <p>量化之星是有关量化分析的云服务.</p>
        <p>量化之星拥有海量数据,供有关人士进行量化分析.</p>
        <p>
          <a class="btn btn-primary btn-lg" href="#" target="_blank">
            了解更多
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
      <a class="btn btn-info btn-sm active" href="#">搜索功能上线</a> <span class="label label-success">new</span><em>搜搜股票代码</em><br/>
      <br/>
      <a class="btn btn-info btn-sm active" href="#">原油功能上线</a><em> 看看原油行情</em> <br/>
      <br/>
      </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>获得最新数据</h3>
      <p> 量化之星帮助您获得最新的金融数据.</p>
    </div>

    <div class="col-md-4">
      <h3>提供高质量图表</h3>
      <p> 采用 <code>bokeh-R</code> 框架, 为您提供惊艳的数据可视化方案. </p>
    </div>

    <div class="col-md-4">
      <h3>不断完善的搜索功能</h3>
      <p> 不断完善的搜索功能,使您能遨游在数据的海洋.</p>
    </div>
  </div>

  <em class="pull-right small"> 感谢您试用量化之星.</em>
 </div>